## EXTRUDER ##

[extruder]
step_pin: PD15
dir_pin: !PD14
enable_pin: !PC7
microsteps: 32
rotation_distance: 22.598
full_steps_per_rotation: 200
gear_ratio: 50:17
nozzle_diameter: 0.600
filament_diameter: 1.750
max_extrude_cross_section: 50.0
max_extrude_only_distance: 100.0
max_extrude_only_velocity: 120.0
max_extrude_only_accel: 1250.0
pressure_advance: 0.0414
pressure_advance_smooth_time: 0.040
heater_pin: PB3
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA2
control = pid
pid_Kp=36.781 
pid_Ki=5.217
pid_Kd=64.826
min_extrude_temp: 0
min_temp: 0
max_temp: 300

[tmc2209 extruder]
uart_pin: PC6
run_current: 0.640
hold_current: 0.500
stealthchop_threshold: 50