## EXTRUDER ##

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
microsteps: 32
rotation_distance: 22.598
full_steps_per_rotation: 200
gear_ratio: 50:17
nozzle_diameter: 0.600
filament_diameter: 1.750
max_extrude_cross_section: 50.0
max_extrude_only_distance: 100.0
max_extrude_only_velocity: 120.0
max_extrude_only_accel: 1250.0
pressure_advance: 0.039000
pressure_advance_smooth_time: 0.040
heater_pin: P2.7
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.24
control = pid
pid_Kp=25.499 
pid_Ki=1.453 
pid_Kd=111.876

min_extrude_temp: 0
min_temp: 0
max_temp: 300

[tmc2209 extruder]
diag_pin: P1.26
uart_pin: P1.4
run_current: 0.640
hold_current: 0.500
stealthchop_threshold: 50
interpolate: True
driver_SGTHRS: 120
sense_resistor: 0.11