## INPUT SHAPER ##
#[mcu adxl]
# Change <mySerial> to whatever you found above. For example,
# usb-Klipper_rp2040_E661640843545B2E-if00
#serial: /dev/serial/by-id/usb-Klipper_rp2040_E6605481DB2D2535-if00

#[adxl345]
#cs_pin: adxl:gpio1
#spi_bus: spi0a
#axes_map: x,z,y

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    130,100,10
#    100,100,10
#    90,100,10

[input_shaper]
shaper_freq_x: 46.6
shaper_type_x: mzv
shaper_freq_y: 36.2
shaper_type_y: ei